<div class="jumbotron">
    <h1 class="display-4">
      Grados tecnicos CES Juan Pablo II
    </h1>
    <p class="lead">
     Aplicacion Web realizada por Diego Eloy Rodriguez Perez
    </p>
    <hr class="my-4" />
    <p>
      Realizada para el modulo de DI, hecha en Angular que consta de:
    </p>

    <ul class="list-group">
        <li class="list-group-item">Cras justo odio</li>
        <li class="list-group-item">Dapibus ac facilisis in</li>
        <li class="list-group-item">Morbi leo risus</li>
        <li class="list-group-item">Porta ac consectetur ac</li>
        <li class="list-group-item">Vestibulum at eros</li>
        <li class="list-group-item">Cras justo odio</li>
        <li class="list-group-item">Dapibus ac facilisis in</li>
        <li class="list-group-item">Morbi leo risus</li>
        <li class="list-group-item">Porta ac consectetur ac</li>
      </ul>
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="https://www.cesjuanpablosegundo.es/" target="blank" role="button">Ir a la web</a>
      </p>
  </div>